#bottomBar {
  margin-top: 25px;
}

button, #answerBox {
  background-color: black;
  color: greenyellow;
  font-family: 'CaveStoryRegular';
  font-size: 50px;
  text-align: center;
}

button.enabled, button.enabledLimit {
  outline: 5px solid yellowgreen;
}

#starter, #answerBox {
  outline: 5px solid yellowgreen;
  margin: 10px 10px;
}

#header {
  outline: 5px dotted yellowgreen;
}

.topHead {
  align-content: center;
  margin: 0 0 -40px 0;
}

input:focus {
  outline: none;
}

body {
  background-color: black;
  text-align: center;
}

p, h1 {
  font-family: 'CaveStoryRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  color: greenyellow;
  text-align: center;
}

.operation, .limit {
  display: inline-block;
}

#middleBar {
  display: inline-block;
}

#starter, #answer {
  display: none;
}