body, html {
  height: 100%;
}

#bottomBar {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
}

#middleBar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#lowerMiddle {
  margin-top: 40px;
}

button, #answerBox {
  background-color: black;
  color: greenyellow;
  font-family: 'CaveStoryRegular';
  font-size: 50px;
  text-align: center;
}

button.enabled, button.enabledLimit {
  outline: 5px solid yellowgreen;
}

#starter, #answerBox {
  outline: 5px solid yellowgreen;
  margin: 10px 10px;
}

.instructions>p {
  outline: 5px dotted yellowgreen;
  font-size: 40px;
  margin-top: 5px;
  padding: 10px;
}

#theQuestion {
  font-size: 80px;
  letter-spacing: 15px;
}

.topHead {
  align-content: center;
  margin: 0 0 -40px 0;
}

input:focus {
  outline: none;
}

body {
  background-color: black;
  text-align: center;
}

p, h1 {
  font-family: 'CaveStoryRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  color: greenyellow;
  text-align: center;
}

.operation, .limit {
  display: inline-block;
}

#middleBar {
  display: inline-block;
}

#starter, #answer {
  display: none;
}

.icon {
  margin-left: 5px;
  margin-right: 5px;
}